#mainBanner {
  color: #FFEBB7;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: #FE663F;
  font-size: 38pt;
  font-weight: 700;
}

strong {
  font-family: "pretendard-SemiBold";
  color: black;
  font-size: 18pt;
  font-weight: 600;
}

text {
  font-family: "Pretendard-Light";
  color: black;
  font-size: 16pt;
  font-weight: 300;
}