$mainColor : #FFEBB7;

$uglyred : #FF2F2F;

$uglyorange : #FE663F;

$uglybrown : #CD8F50 ;

$uglygreen : #5EAB42;

#mainBanner{
    color: $mainColor;
}

@mixin maintitle {
    font-family: 'Rubik', sans-serif;
    color: #FE663F;
    font-size: 38pt;
    font-weight: 700;
}

@mixin text {
    font-family: 'Pretendard-Light';
    color : black ;
    font-size: 16pt ;
    font-weight: 300;
}

@mixin strong {
    font-family: "pretendard-SemiBold";
    color: black;
    font-size: 18pt;
    font-weight: 600;
  }

h2 {
    @include maintitle ;
}

strong{
    @include strong ;
}

text {
    @include text ;
}
